<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#"><h3 class="text-white">Cavli Wireless</h3></a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
      <div class="form-inline my-2 my-lg-0">
        <button class="btn  my-2 my-sm-0 text-white" type="submit" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>