
<div class="d-flex flex-column align-items-center">
    <div class="d-flex flex-row justify-content-center " style="padding: 2rem;">
        <div class="circle-image">
            <img style="border-radius: 50%;" class="image-fit-cover w-100 h-100" [src]="imagePath||'assets/default.jpeg'" >
        </div>

    </div>
    <button style="width: 10rem;"(click)="uploadFile.click()" class="btn btn-primary">Update Picture</button>
    <div *ngIf="uploadLoadProgess" class="progress" style="width: 25rem;margin: 1rem;height: 0.5rem;">
        <div class="progress-bar bg-secondary" role="progressbar" [style.width]="uploadLoadProgess+'%'"  aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    <input #uploadFile style="display: none;" (click)="uploadFile.value = null" type="file" accept="image/jpeg , image/png"  (change)="uploadPic($event)" />
</div>
