<div class="card-central card" [formGroup]="signUpForm">

    <div class="text-center">
        <h3 class="primary-color title">Sign Up</h3>
    </div>


    <div class="form-group">
        <label for="exampleInputEmail1">Email </label>
        <input [class.error-border]="fControls.email.invalid && fControls.email.touched" formControlName="email"
            type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input [class.error-border]="fControls.password.invalid && fControls.password.touched"
            formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword2">Confirm Password</label>
        <input  formControlName="confirm_password" [class.error-border]="fControls.confirm_password.touched && signUpForm.hasError('notSame')"
            type="password" class="form-control" id="exampleInputPassword2">
    </div>
    <div class="text-right">
        <button (click)="signup()" [disabled]="signUpForm.invalid" class="btn btn-primary">Sign Up</button>
    </div>
    <small class="form-text text-muted">Already have an account? <a routerLink="/login">Login</a></small>


</div>