<div class="card-central card" [formGroup]="loginForm">

    <div class="text-center"><h3 class="primary-color title">Login</h3></div>


        <div class="form-group" >
          <label for="exampleInputEmail1">Email </label>
          <input [class.error-border]="fControls.email.invalid && fControls.email.touched" formControlName="email"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
         
        </div>
        <div class="form-group" >
          <label for="exampleInputPassword1">Password</label>
          <input [class.error-border]="fControls.password.invalid && fControls.password.touched" formControlName="password"  type="password" class="form-control" id="exampleInputPassword1">
        </div>
      
          <div class="text-right">
            <!-- routerLink="/dashboard/profile" -->
            <button [disabled]="loginForm.invalid"  class="btn btn-primary" (click)="login()">Login</button>
          </div>
          <small  class="form-text text-muted">Don't have an account? <a routerLink="/signup">Sign Up</a></small>

</div>