/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


.card-central{
    display: block;
    margin: 10% auto auto auto;
    width: 35%;
    padding: 2rem;
    border: 1px solid #0b3954;
    border-radius: 0.25rem;
}

body {
	font-family: "fangsong" !important;

}

.primary-color{
    color: #0b3954;
}
.secondary-color{
    color: #4ebea4;
}
.tertiary-color{
    color: #36bcff;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
}
.bg-primary{
    background-color: #0b3954 !important;
}
.bg-secondary{
    background-color: #36bcff !important;
}
.image-fit-cover {
    -o-object-fit: cover;
    object-fit: cover;
}
.error-border{
    border-color: #dc3545!important
}